body {
  background-color: #E6FAFF;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: teal;
  font-family: "Comic Sans MS";
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px #99F3FF;
}

h2 {
  color: teal;
  font-family: "Comic Sans MS";
  border-bottom: 2px solid teal;
  padding-bottom: 5px;
}

p {
  color: orange;
  font-size: 18px;
  line-height: 1.6;
}

ul {
  background-color: white;
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px #99DDE5;
}

ul li {
  color: orange;
  margin: 10px;
}

li:hover {
  color: teal;
  font-weight: bold;
}
